* {
  box-sizing: border-box;
}
#game {
  margin: 0 auto;
  width: 100vmin;
  text-align: center;

  #score-board {
    height: 10vmin;
    text-align: right;
    font-size: 8vmin;
    line-height: 10vmin;
    background-color: #cbd0d3;
    color: #2c3e50;
  }

  .row {
    height: 10vmin;
    .cell {
      display: inline-block;
      width: 10vmin;
      height: 10vmin;
      background-color: #fbfcfc;
      border: 1px solid #bdc3c7;

      i {
        font-size: 8vmin;
        line-height: 10vmin;

        &.fa-twitter {
          color: #2ecc71;
        }

        &.fa-bitbucket {
          color: #d35400;
        }

        &.fa-safari {
          color: #34495e;
        }

        &.fa-apple {
          color: #a8bece;
        }

        &.fa-firefox {
          color: #a71930;
        }

        &.fa-slack {
          color: #2980b9;
        }
      }
    }
  }
}
